<<<<<<< HEAD
div(class="header text-center")
	h1 #[a(href="/zmgr/index" title="Index") zmgr]
	p Manage #[a(href="https://noki.zorque.xyz") #[u noki.zorque.xyz]] web services
hr
div(class="col-lg-12 nbar")
	ul(class="list-inline")
		li #[a(href="/zmgr/images") Images]
		li #[a(href="/zmgr/files") Files]
		li #[a(href="/zmgr/stats") Stats]
hr
=======
div(class="row")
	div(class="header text-center")
		h1 #[a(href="/zmgr/index" title="Index") zmgr]
		p Manage #[a(href="https://noki.zorque.xyz") #[u noki.zorque.xyz]] web services
	hr(class="nz")
	div(class="col-lg-12 technologies")
		ul(class="list-inline pull-left")
			li #[a(href="/zmgr/images") Images]
			li #[a(href="/zmgr/files") Files]
			li #[a(href="/zmgr/stats") Stats]
	hr(class="nz")
>>>>>>> 1e6d12bf3708e8f4dbc40ba65d5575c6d61a5674
