doctype html
html
	head
		title Index - zmgr
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css")
		link(rel="stylesheet" type="text/css" href="/assets/css/default.css")
		link(rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto")
	body
		div(class="container")
			include header
			div(class="col-lg-12 text-center")
				p content soon
			include ../footer