doctype html
html
	head
		title Stats - zmgr
		link(rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/assets/css/default.css")
		link(rel="stylesheet" type="text/css" href="https://noki.zorque.xyz/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto")
	body
		div(class="container")
			include header
			div(class="col-lg-12 text-center")
				p content soon
			include ../footer
