doctype html
html
	head
		title zmgr
		link(rel="stylesheet" type="text/css" href="/zmgr/assets/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="/zmgr/assets/css/default.css")
		link(rel="stylesheet" type="text/css" href="https://noki.zorque.xyz/css/font-awesome.min.css")
		link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto")
	body
		div(class="container")
			include header
			div(class="row")
				div(class="col-lg-6")
					h3 #[strong Files]
					ul(class="noki-list")
						for dat, ind in files
							- let timeSince = moment(dat.uploaded).fromNow();
							- let fullTime = moment(dat.uploaded).format("dddd, MMMM Do YYYY, h:mm:ss a");
							li #[span(title=fullTime class="pull-right since-label") #{timeSince}] #[a(target="_blank" href=dat.url) #{dat.url}]
			include footer