<<<<<<< HEAD
hr
div(class="footer text-center")
	p © nokizorque 2018
=======
div(class="row")
	hr
	div(class="footer text-center")
		- let d = new Date();
		p © nokizorque #{d.getYear() + 1900}
>>>>>>> 1e6d12bf3708e8f4dbc40ba65d5575c6d61a5674
