doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="description" content)
		meta(name="author" content)
		title Lewis Watson
		link(rel="stylesheet" type="text/css" href="/assets/css/main.css")
		link(rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div(class="main")
			div(class="content")
				div
					span(class="hello") Hello, my name is
					h2(class="name") Lewis Watson.
					h3(class="tagline") I'm passionate about building tech for good.

				div(class="bio")
					| I am a Brisbane based software developer with a keen interest in product.
					| I have a passion for design and all things involving people. I currently
					| work for 
					a(target="_blank" href="https://rooy.co" rel="noreferrer") ROOY  
					| where I focus on designing and building brilliant products 
					| that get used by forward-thinking organisations.

				div(class="iconBar")
					a(href="https://linkedin.com/in/itslewiswatson" target="_blank" rel="noreferrer")
						i(class="fa fa-2x fa-linkedin" aria-hidden="true")
					a(href="https://github.com/itslewiswatson" target="_blank" rel="noreferrer")
						i(class="fa fa-2x fa-github" aria-hidden="true")
					a(href="mailto:hello@lewiswatson.me" target="_top")
						i(class="fa fa-2x fa-inbox" aria-hidden="true")
