doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="description" content)
		meta(name="author" content)
		title Lewis Watson
		link(rel="stylesheet" type="text/css" href="/assets/css/main.css")
		link(rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		div(class="main")
			div(class="content")
				div
					span(class="hello") Hello, my name is
					h2(class="name") Lewis Watson.
					h3(class="tagline") I'm passionate about growth.

				div(class="bio")
					div(class="child")
						| I'm young, ambitious, and driven, with an unwavering enthusiasm for building great products that resonate with customers.
					div(class="child")
						| I'm currently a Product Manager at 
						a(target="_blank" href="https://rexsoftware.com" rel="noreferrer") Rex   
						| where my focus is unlocking new opportunities for growth, while delivering exceptional customer outcomes through purposeful product design and savvy commercial initiatives.

				div(class="iconBar")
					a(href="https://linkedin.com/in/itslewiswatson" target="_blank" rel="noreferrer")
						i(class="fa fa-2x fa-linkedin" aria-hidden="true")
					a(href="https://github.com/itslewiswatson" target="_blank" rel="noreferrer")
						i(class="fa fa-2x fa-github" aria-hidden="true")
					a(href="mailto:hello@lewiswatson.me" target="_top")
						i(class="fa fa-2x fa-inbox" aria-hidden="true")
